body{
    background-color: #f2f2f2;
}
.top-bar_resume {
    width: 120%;
    height: 100px;
    /* background-color: #5B5C62; */
}
.top-bar_resume img {
    position: fixed;
    top: 50px;
    right: 20px;
    float: right;
}
.top-bar_resume img.porto_logo_small {
    width: 30px;
    height: 30px;
    left: 20px;  
    top: 49px;
}
.top-bar_resume img.login_resume {
    width: 30px;
    height: 30px;
    right: 60px;
    top: 49px;
}