*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
#logo-small {
    position: relative;
    top: 30px;
    left: -450px;
    height: 70px;
}
.login-wrapper{
    top: 160px;
    left: 140px;
    position: relative;
    width: 500px;
    height: 701px;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid #dbcfcf;
    border-radius: 30px / 30px;
    float: left;
}
#welcome {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
#porto {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 60px;
}
#userName {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
#userPassword {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
.login-wrapper > h2{
    font-size: 30px;
    color: #000000;
    font-weight: 900;
    margin-bottom: 10px;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #ababab;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #000000;
    margin-top: 50px;
    cursor: pointer;
}
#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    /* background-image: url("checkbox.png"); */
    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label{
    /* background-image: url("checkbox-active.png"); */
    background-repeat: no-repeat;
    background-size: contain;
}
#login_bottom_text {
    font-weight: 100;
    color: #a0a0a0;
    margin-left: 60px;
    margin-top: 20px;
}
#bold-text { 
    margin-left: 10px;
    font-weight: 1000;
    color: #000000;
    text-decoration-line: none;
}
.login-people {
    position: fixed;
    float: right;
    overflow: hidden;
    margin-left: 800px;
    margin-top: 100px;
}