<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style_index.css') }}>
    <title>Porto</title>
</head>
<body>
    <div class="top-bar">
        <img id="menu-button" src={{ url_for('static', filename='img/fi-br-menu-dots.png') }} alt="" onclick="toggleMenu()">
        
        <a href={{ url_for('login') }}>
            <img class="login" src={{ url_for('static', filename='img/account_circle.png') }} alt="">
        </a>

    </div>

    <div id="menu">
        <ul id="Menu-top">
            <img id="Menu" src = {{ url_for('static', filename='img/Menu.png') }} alt="">
            <h1 id="Menu-text">Menu</h1>
        </ul>
        <ul>
            <li id="Menu1">
                <a href="{{ url_for('resume') }}">
                    <img id="Menu1-img" src="{{ url_for('static', filename='img/User_Shield.png') }}" alt="">
                    <h1 id="Menu1-text">내 정보</h1>
                </a>
            </li>
            </li>
            <li id="Menu2">
                <img id="Menu2-img" src = {{ url_for('static', filename='img/document.png') }} alt="">
                <h1 id="Menu2-text">내 이력서</h1>
            </li>
            <li id="Menu3">
                <img id="Menu3-img" src = {{ url_for('static', filename='img/question_person.png') }} alt="">
                <h1 id="Menu3-text">문의</h1>
            </li>
        </ul>
    </div>

    <div class="title">
        <img class="main-logo" src={{ url_for('static', filename='img/porto_logo_big.png') }} alt="">
    </div>

    <div class="main-content">
        <div class="main-content-right">
            <img src={{ url_for('static', filename='img/portfolio_1.png') }} alt="">
        </div>
        <div class="main-content-left">
            <img src={{ url_for('static', filename='img/main_text.png') }} alt="">
        </div>
    </div>

<script src={{ url_for('static', filename='js/script.js') }}></script>
</body>
</html>