<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style_login.css') }}>
    <title>Login</title>
</head>
<body> 
    <a href= {{ url_for('index') }}>
        <img id="logo-small" src={{ url_for('static', filename='img/porto_logo_small.png') }} alt="">
    </a>
    <div class="login-wrapper">
        <h3 id="welcome">Welcome!</h3>
        <h2>Sign in to</h2>
        <h3 id="porto">Our Website "Porto" Simply</h3>
        <form method="post" action="/login" id="login-form">
            <h3 id="userName">User name</h3>
            <input type="text" name="userName" placeholder="Enter your user name">
            <h3 id="userPassword">Password</h3>
            <input type="password" name="userPassword" placeholder="Enter your password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check"> Remember ID
            </label>
            <input type="submit" value="Login">
        </form>
        <p id="login_bottom_text">Don't you have an Account? <a id="bold-text" href={{ url_for('register') }}>Register</a></p>
    </div>
    <div class="login-people">
        <img src={{ url_for('static', filename='img/login-people.png') }} alt="">
    </div>
</body>
</html>