<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style_login.css') }}>
    <title>Login</title>
</head>
<body>
    <img id="logo-small" src={{ url_for('static', filename='img/porto_logo_small.png') }} alt="">
    <div class="login-wrapper">
        <h3 id="welcome">Welcome!</h3>
        <h2>Sign in to</h2>
        <h3 id="porto">Our Website "Porto" Simply</h3>
        <form method="post" action="/login" id="login-form">
            <h3 id="userName">User name</h3>
            <input type="text" name="userName" placeholder="Enter your user name">
            <h3 id="userPassword">Password</h3>
            <input type="password" name="userPassword" placeholder="Enter your password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>