<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style_resume.css') }}>
    <title>Porto</title>
</head>
<body>
    <header class="top-bar_resume">
        <a href={{ url_for('index') }}>
            <img class="porto_logo_small" src={{ url_for('static', filename='img/porto_logo_small.png') }} alt="">
        </a>

        <img id="menu-button" src={{ url_for('static', filename='img/fi-br-menu-dots.png') }} alt="" onclick="toggleMenu()">

        <a href={{ url_for('login') }}>
            <img class="login_resume" src={{ url_for('static', filename='img/account_circle.png') }} alt="">
        </a>

    </header>

    <div id="menu">
        <ul id="Menu-top">
            <img id="Menu" src = {{ url_for('static', filename='img/Menu.png') }} alt="">
            <h1 id="Menu-text">Menu</h1>
        </ul>
        <ul>
            <li id="Menu1">
                <img id="Menu1-img" src = {{ url_for('static', filename='img/User_Shield.png') }} alt="">
                <h1 id="Menu1-text">내 정보</h1>
            </li>
            <li id="Menu2">
                <img id="Menu2-img" src = {{ url_for('static', filename='img/document.png') }} alt="">
                <h1 id="Menu2-text">내 이력서</h1>
            </li>
            <li id="Menu3">
                <img id="Menu3-img" src = {{ url_for('static', filename='img/question_person.png') }} alt="">
                <h1 id="Menu3-text">문의</h1>
            </li>
        </ul>
    </div>


    <form action="/submit" method="POST">

    <section class="mainContent">
        <h3><strong>Details</strong></h3>

        <label for="username">Name: </label>
        <input type="text" id="username" name="username" value=""><br><br>

        <label for="address">Address: </label>
        <input type="text" id="address" name="address"><br><br>

        <label for="phone">Phone: </label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" placeholder="010-XXXX-XXXX"><br><br>
        
        <label for="email">E-mail: </label>
        <input type="email" id="email" name="email"><br><br>
        <hr>


        <h3><strong>Links</strong></h3>

        <label for="Github_url">Github: </label>
        <input type="url" name="Github_url" placeholder="github.com/">
        <br><br>

        <label for="other_url">Other: </label>
        <input type="url" name="other_url" placeholder="other.com/"><br><br>
        <hr>



        <h3><strong>Skills</strong></h3>

        <label for="SKILL1">SKILL1: </label>
        <input type="text" id="SKILL1" name="SKILL1">
        <select id="skill_1" name="skill_1">
           <option value="skill_1_0%">0%</option>
           <option value="skill_1_20%">20%</option>
           <option value="skill_1_40%">40%</option>
           <option value="skill_1_60%">60%</option>
           <option value="skill_1_80%">80%</option>
           <option value="skill_1_100%">100%</option><br>
        </select><br><br>
    

        <label for="SKILL2">SKILL2: </label>
        <input type="text" id="SKILL2" name="SKILL2">
        <select id="skill_2" name="skill_2">
           <option value="skill_2_0%">0%</option>
           <option value="skill_2_20%">20%</option>
           <option value="skill_2_40%">40%</option>
           <option value="skill_2_60%">60%</option>
           <option value="skill_2_80%">80%</option>
           <option value="skill_2_100%">100%</option>
        </select>   
        <br><br>

        <label for="SKILL3">SKILL3: </label>
        <input type="text" id="SKILL3" name="SKILL3">
        <select id="skill_3" name="skill_3">
           <option value="skill_3_0%">0%</option>
           <option value="skill_3_20%">20%</option>
           <option value="skill_3_40%">40%</option>
           <option value="skill_3_60%">60%</option>
           <option value="skill_3_80%">80%</option>
           <option value="skill_3_100%">100%</option><br>
        </select>
        <br><br>

        <label for="SKILL4">SKILL4: </label>
        <input type="text" id="SKILL4" name="SKILL4">
        <select id="skill_4" name="skill_4">
           <option value="skill_4_0%">0%</option>
           <option value="skill_4_20%">20%</option>
           <option value="skill_4_40%">40%</option>
           <option value="skill_4_60%">60%</option>
           <option value="skill_4_80%">80%</option>
           <option value="skill_4_100%">100%</option><br>
        </select>
        <br><br>
        <hr>

        <h3><strong>Experience</strong></h3>
        <label for="Experience_main_1">1. </label>
        <input type="text" id="Experience_main_1" name="Experience_main_1">
        <br><br>
        
        <label for="Experience_details_1">Details: </label><br>
        <textarea type="text" class="Experience_details_1" name="Experience_details_1" oninput="resizeTextarea()"></textarea>
        <script src="script.js"></script>
        <br><br>

        <label for="Experience_main_2">2. </label>
        <input type="text" id="Experience_main_2" name="Experience_main_2">
        <br><br>
        
        <label for="Experience_details_2">Details: </label><br>
        <textarea type="text" class="Experience_details_2" name="Experience_details_2" oninput="resizeTextarea()"></textarea>
        <script src="script.js"></script>
        <br><br>

        <label for="Experience_main_3">3. </label>
        <input type="text" id="Experience_main_3" name="Experience_main_3">
        <br><br>
        
        <label for="Experience_details_3">Details: </label><br>
        <textarea type="text" class="Experience_details_3" name="Experience_details_3" oninput="resizeTextarea()"></textarea>
        <script src="script.js"></script>

        <br><br>
        <hr>
  
        <input type="submit" value="Save" />
          


    </section>
    </form>
    
<script src={{ url_for('static', filename='js/script.js') }}></script>
</body>
</html>